/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  ARCTICMODAL CSS START    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/

	.arcticmodal_container_box {
	    max-width: 1060px;
	    min-height: 632px;
	    padding: 30px;
	}


/*================================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  ARCTICMODAL CSS END      <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<================================================*/
