/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  RESPONSIVE LAYOUTS START  <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================*/
@media only screen and (min-width: 992px) {
	.resp_head_menu{
		display: none;
	}
}
@media only screen and (max-width: 1024px) {
	.two_col_list{
		margin-left: -20px;
	}
}

@media only screen and (max-width: 991px) {
	.resp_head_menu{
		padding: 10px 5px;
		width: 32px;
		height: 32px;
		display: block;
		float: left;
		margin-right: 17px;
		margin-top: 3px;
		-moz-transform: rotate(0deg);
	    -webkit-transform: rotate(0deg);
	    -o-transform: rotate(0deg);
	    -ms-transform: rotate(0deg);
	    transform: rotate(0deg);
		position: relative;
	}
		.resp_head_menu span{
			display: block;
			width: 22px;
			height: 2px;
			background-color: #353b41;
			border-radius: 1.5px;
			position: absolute;
			left: 5px;
			-webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
			-moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
			-o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
			transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
			opacity: 1;
		}
		.resp_head_menu span:nth-child(1){
			top: 10px;
		}
		.resp_head_menu span:nth-child(2){
			top: 15px;
		}
		.resp_head_menu span:nth-child(3){
			top: 20px;
		}
		.active.resp_head_menu span{
			-webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
			-moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
			-o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
			transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);	
		}
		.active.resp_head_menu span:nth-child(1){
			-moz-transform: rotate(45deg);
		    -webkit-transform: rotate(45deg);
		    -o-transform: rotate(45deg);
		    -ms-transform: rotate(45deg);
		    transform: rotate(45deg);
			top: 14.5px;
		}
		.active.resp_head_menu span:nth-child(2){
			visibility: hidden;
			opacity: 0;
		}
		.active.resp_head_menu span:nth-child(3){
			-moz-transform: rotate(-45deg);
		    -webkit-transform: rotate(-45deg);
		    -o-transform: rotate(-45deg);
		    -ms-transform: rotate(-45deg);
		    transform: rotate(-45deg);
		    position: absolute;
			top: 14.5px;
		}

	.navigation_menu{
		float: none;
		position: fixed;
		width: 210px;
		min-height: 222px;
		top: 80px;
		left: 10px;
		padding: 20px;
		background-color: #FFF;
		z-index: 999;
		visibility: hidden;
		opacity: 0;
		-webkit-transform: translateY(-50px);
		   -moz-transform: translateY(-50px);
			-ms-transform: translateY(-50px);
			 -o-transform: translateY(-50px);
			    transform: translateY(-50px);
		-webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
		   -moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
		     -o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
		        transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 10px 20px 0 rgba(0, 0, 0, 0.2);
		-webkit-border-radius: 8px;
		        border-radius: 8px;
	}
	.active.navigation_menu{
		visibility: visible;
		opacity: 1;
		-webkit-transform: translateY(0);
		   -moz-transform: translateY(0);
		    -ms-transform: translateY(0);
		     -o-transform: translateY(0);
		        transform: translateY(0);
		-webkit-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
		   -moz-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
		     -o-transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
		        transition: all 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1);
	}
		.menu_item{
			float: none;
			display: block;
			padding: 0 0 0 0;
		}
			.menu_link{
				display: block;
				font-size: 16px;
				line-height: 1;
				padding-left: 0;
				padding: 10px 0;
				/* opacity: 0.6; */
			}
			.menu_link:hover{
				/* opacity: 1; */
			}

	.after_table_slider_item{
		margin-top: 20px;	
	}
	.users_box,
	.after_table_slider_item{
		float: none;
	}
	#slider-range{
		width: 100%;
	}
	[data-bg="bg_main"],
	[data-bg="bg_main2"]{
		-webkit-background-size: 100%;
		     -o-background-size: 100%;
		        background-size: 100%;
	}
	.two_col_list{
		margin-left: 0;
	}
	.smart_companies_logo a{
		margin: 0 10px;
	}
	.success_container.pb148{
		padding-bottom: 50px;
	}
	
}

@media only screen and (max-width: 767px) {
	.banner_box{
		/* min-height: 137px; */
		text-align: center;
	}
	.banner_right_box{
		text-align: center;
		margin-top: 15px;
	}
	.footer_container .col-xs-12{
		width: 25%;
	}
	.footer_container .col-xs-12:last-child{
		width: 100%;
	}
	.follow_link_box{
		text-align: left;
	}
		.footer_link_tweet{
			margin-right: 0;
		}
	.info_about_use_box_left{
		text-align: center;
	}
	.info_about_use_box_left img.ml14{
		margin-left: 0;
	}
	.buttons_on_center + img{
		margin-top: 0;
	}
	.info_about_use_box_right{
		padding-left: 0;
		text-align: center;
	}
	.money_pack_box.mb71{
		margin-bottom: 25px;
	}
	.table_business_tr:first-child .table_business_td:last-child{
		font-family: 'Proxima Nova Soft W03 Semibold' , 'ProximaNovaSoftW03-Semibold';
	}	
	.table_container{
		padding-top: 0;
	}
	.vyte_for_team,
	.container_two_right.al_right{
		text-align: center;
	}
	.vyte_for_team_title,
	.vyte_for_team_text,
	.vyte_for_team_buttons{
		float: none;
		width: auto;
		max-width: 100%;
		margin: 0;
		display: block;
	}
	.vyte_for_team_text,
	.vyte_for_team_buttons{
		margin-top: 15px;
	}
	.success_container.success_3,
	.success_container.success_2{
	    min-height: auto;
	    padding-bottom: 40%;
	}
	.success_container.success_2{
		padding-bottom: 30%;
	}
	.features_figure{
		width: 300px;
	    margin: 0 auto 55px;
	    text-align: left;
	}
	.features_figure:last-child{
		margin-bottom: 55px;
	}
	.features_love_container .col-xs-12:last-child .features_figure:last-child{
		margin-bottom: 0;
	}
	.container_two_col{
		text-align: center;
		padding: 23px 10px 30px 10px;
	}
	.container_two_col_item {
	    padding: 15px 0;
	}
	.two_col_list{
		margin: auto;
		max-width: 300px;
		text-align: left;
	}
	.container_two_left{
		padding-top: 15px;
	}
	.smart_companies_logo a{
		display: block;
		margin: 0 auto 45px;
	}
	.smart_companies{
		margin: 60px auto;
	}
	.smart_companies_logo a:last-child{
		margin-bottom: 0;
	}
	.container_two_left .btn_blue_big{
		margin-top: 25px;
	}
	.container_two_right .pt18{
		padding-top: 56px;
	}
	.resp_two_col .col-sm-12:last-child .two_col_list{
		margin-bottom: 30px;
	}
	.title4{
		font-size: 40px;
		line-height: 45px;
	}
	.list_ios_icon{
		text-align: center;
		margin: 15px 0;
	}
	.ios_box2{
		text-align: center;
		padding-top: 30px;
	}
	.blue_container{
		min-height: auto;
		padding: 30px 0 50px 0;
	}
	.blue_container .ios_box2 .two_col_list li:last-child{
		margin-bottom: 20px;
	}
	.calendar_container,
	.ios_container{
		text-align: center;
	}
	.calendar_container p{
		margin-bottom: 39px;
	}
	.calendar_container .col-xs-12:last-child p{
		margin-top: 30px;
	}
}

@media only screen and (max-width: 580px) {
	.footer_container .col-xs-12{
		width: 100%;
	}
	.footer_logo {
	    display: inline-block;
	    width: 75px;
	}
	.success_container{
		padding-top: 38px;
		padding-bottom: 38px;
	}
	.info_about_use_box_right{
		text-align: left;
	}
	.info_about_use_box{
		margin-bottom: 0;
	}
	.separator.d_none{
		display: block;
	}
	.separator.mb36{
		margin-bottom: 29px;
	}
	.info_about_use_box_left{
		margin-bottom: 22px;
	}
	.info_about_use_box_right.pt70{
		padding-top: 0;
	}
	.vyte_for_team{
		margin-bottom: 30px;
	}
	.masked_input,
	.get_page [class*="btn_blue"]{
		width: 100%;
		display: block;
		float: none;
	}
	.masked_input{
		margin-bottom: 10px;
		padding-left: 105px;
	}
	.footer_list{
		margin-top: 0;
	}
	.footer_container .col-xs-12:nth-child(2) .footer_list {
		margin-top: 16px;
	} 
	.footer_list_item a{
		font-size: 16px;
	}
	#footer{
		padding: 24px 0;
	}
	.title5{
		font-size: 30px;
		line-height: 36px;
	}
	.ios_container{
		padding: 50px 0 0 0;
	}
	.ios_img_container{
		max-width: 280px;
		margin: auto;
	}
	
}

@media only screen and (max-width: 479px) {
	body{min-width:320px;}
	.arcticmodal-container_i2{
		padding: 0;
	}
	.arcticmodal_container_box{
		min-width: 300px;
	}
	.tabs-nav{
		width: 280px;
	}
	.title{
		letter-spacing: -1px;
	}
	.features_figure{
		width: 275px;
	}
	.header_buttons{
		float: none;
	}
	.header_buttons button{
		margin-top: 10px;
		display: block;
		width: 100%;
	}
	.header_buttons button:not(:last-child){
		margin-right: 0;
		margin-top: 20px;
	}
}




/*===============================================>  
                               >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>  RESPONSIVE LAYOUTS END    <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<
<===============================================