/*====>>  Stylesheet Guide START  <<====*/
        

        /*<<=========================================>>

        1. IMPORT Plugins and other CSS files
        2. DEFAULT Stylesheets
        3. BASIC classes main
            3.1.      TOUCH hacks
            3.2.      POSITIONS blocks (float:)
            3.3.      POSITIONS text (text-align:)
            3.4.      VERTICALLY align boxs (vertical-align:)
            3.5.      INDENTS Zero !IMPORTANT
            3.6.      POSITIONS (position:)
            3.7.      ZEROING float
            3.8.      DISPLAYS (dispay:)
            3.9.      LINKS And BUTTONS
            3.10.     HOVERS TRANSITION
            3.11.     TITLES
            3.12.     BACKGROUNDS
            3.13.     COLORS
            3.14.     GOOGLE FONTS
            3.15.     INSTALL FONTS
            3.16.     VISIBILITY
            3.17.     TEXTAFIELD (placeholder animation)
            3.18.     BREADCRUMBS
        4. HEADER
        5. CONTENT
        6. BANNER_BOX 
        7. FOOTER 
        
        <<=========================================>>*/
        

/*====>>  Stylesheet Guide END    <<====*/




/*  <!-- 1. IMPORT Plugins and other CSS files 
============================================ --> */


        @import "../css/reset.css";
        @import "../css/bootstrap.css";
        @import "../plugins/slider-range/jquery-ui.css";
        @import "../plugins/fancybox/jquery.fancybox.css";
        @import "../css/plugins.css";
        @import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700italic,400italic,700);



/*  <!-- 2. DEFAULT Stylesheets 
============================================ --> */


    html {width:100%;}

    body {
        font-family: 'Proxima Nova Soft W03 Regular' , 'ProximaNovaSoftW03-Regular' , sans-serif;
        font-size:14px;
        line-height:17px;
        font-weight: 400;
        color:#4a4a4a;
        background: #FFF;
        -webkit-text-size-adjust: none;
        
        /* сглаживание шрифта начало */
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeSpeed;
        /* сглаживание шрифта финиш */
    }

    img{
        max-width: 100%;
        height: auto;
        display: inline-block;
    }

    *{
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
    }

    /* при выделении текста добавляется кастомный стиль  */
   
    ::selection{
        color: #fff;
        background-color: #0066cc;
    }

   ::-moz-selection{
        color: #fff;
        background-color: #0066cc;
    }

    /* !!! */
   
   /* !!! */

    .separator{
        border: none;
        border-top: 1px solid #dbdbdb;
        width: 1022px;
        max-width: 100%;
        padding: 0 10px;
        margin-top: 0;
        margin-bottom: 0;
    }

    /* centering block start */
    
    .center-block {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    /* !!!   */




/*  <!-- 3. BASIC classes main 
============================================ --> */




        /*==========>>  3.1.      TOUCH hacks   <<==========*/


            input{
                -webkit-appearance: none;
                outline:none;
            }
            textarea,
            button{
                -webkit-appearance: none;
                -webkit-border-radius:0; 
                border-radius:0;
                outline:none;
            }


        /*==========>>  3.2.      POSITIONS blocks (float:)   <<==========*/
            

            .f_left {float:left;}
            .f_right {float:right;}
            .f_none {float:none;}

            .pull_right {float: right !important;}
            .pull_left {float: left !important;}
            .pull_none{float: none !important;}


        /*==========>>  3.3.      POSITIONS text (text-align:)   <<==========*/


            .al_left{text-align: left;}
            .al_right{text-align:right;}
            .al_center{text-align:center;}
            .al_justify{text-align:justify;}


        /*==========>>  3.4.      VERTICALLY align boxs (vertical-align:)   <<==========*/
        

            .val_md{vertical-align: middle;}
            .val_bt{vertical-align: bottom;}
            .val_bs{vertical-align: baseline;}
            .val_top{vertical-align: top;}
        

        /*==========>>  3.5.      INDENTS Zero !IMPORTANT   <<==========*/


            .m_t_zero{ margin-top:0 !important;}
            .m_b_zero{ margin-bottom:0 !important;}
            .m_r_zero{ margin-right:0 !important;}
            .m_l_zero{ margin-left:0 !important;}
            .p_t_zero{ padding-top:0 !important;}
            .p_b_zero{ padding-bottom:0 !important;}
            .p_r_zero{ padding-right:0 !important;}
            .p_l_zero{ padding-left:0 !important;}


        /*==========>>  3.6.      POSITIONS (position:)   <<==========*/
            

            .p_abs{position: absolute;}
            .p_rel{position: relative;}
            .p_fix{position: fixed;}
            .p_static{position: static;}

            .full_abs{
                position: absolute;
                left: 0;
                top: 0;
                right: 0;
                bottom: 0;
                display: block;
                z-index: 99;
            }


        /*==========>>  3.7.      ZEROING float   <<==========*/


            .clear {
                clear:both;
                width:100%;
                line-height:0;
                font-size:0;
            }

            .clearfix:after,
            .container:after{
              content: "";
              display: block;
              height: 0;
              clear: both;
              visibility: hidden;
            }

            .wrapper {overflow:hidden;}


        /*==========>>  3.8.      DISPLAYS (dispay:)   <<==========*/


            .d_block{ display:block;}
            .d_ib{ display:inline-block;}
            .d_none{ display:none;}

            .hide {display: none !important;}
            .show {display: block !important;}

            .d_t{ display:table;}
            .d_row{ display:table-row;}
            .d_tc{ display:table-cell;}


        /*==========>>  3.9.      LINKS And BUTTONS   <<==========*/


            * a,
            * button{
                cursor: pointer;
                outline:none !important;
            }
            [data-popup]{cursor: pointer;}
            a {
                color:#4a4a4a;
                outline:none;
                text-decoration:none;
                display: inline-block;
            }
            a:hover{
                color:#308ff0;
                text-decoration:none;
            }
            button{
                border: none;
                padding: 10px 10px 10px 10px;
                display: inline-block;
                background-color: transparent;
                color: #FFF;
                -webkit-border-radius: 0px;
                        border-radius: 0px;
                text-transform: none;
                text-decoration: none;
            }
            [class*="btn_"]{
                font-size: 14px;
                line-height: 17px;
                -webkit-border-radius: 8px;
                        border-radius: 8px;
                text-align: center;
                -webkit-transition: all ease 0.5s;
                   -moz-transition: all ease 0.5s;
                    -ms-transition: all ease 0.5s;
                     -o-transition: all ease 0.5s;
                        transition: all ease 0.5s;
            }
                [class*="btn_"]:hover{
                    -webkit-transition: all ease 0.5s;
                       -moz-transition: all ease 0.5s;
                        -ms-transition: all ease 0.5s;
                         -o-transition: all ease 0.5s;
                            transition: all ease 0.5s;       
                }

                /* btn blue */
                [class*="btn_blue_"]{
                    color: #FFF;
                    background-color: #308ff0;
                    border: 2px solid #308ff0;
                }
                    [class*="btn_blue_"]:hover{
                        color: #308ff0;
                        background-color: transparent;       
                    }

                .btn_blue_small{
                    padding: 9.5px 18px;
                    font-family: 'Proxima Nova Soft W03 Regular' , 'ProximaNovaSoftW03-Regular';
                    font-size: 14px;
                    line-height: 17px;
                }

                .btn_blue_big{
                    padding: 8.5px 24px;
                    font-family: 'Proxima Nova Soft W03 Medium' , 'ProximaNovaSoftW03-Medium';
                    font-size: 16px;
                    line-height: 19px;
                }
                [data-btn-icon="play_video"]{
                    padding: 8.5px 32px 8.5px 53px;
                    position: relative;
                }
                [data-btn-icon="play_video"]:before{
                    content: "";
                    position: absolute;
                    width: 9px;
                    height: 13px;
                    left: 21px;
                    top: 50%;
                    background: url(../images/icon/play_icon.png) 0 0 no-repeat;
                    margin-top: -6.5px;
                    -webkit-transition: all ease 0.3s;
                       -moz-transition: all ease 0.3s;
                        -ms-transition: all ease 0.3s;
                         -o-transition: all ease 0.3s;
                            transition: all ease 0.3s;
                }
                [data-btn-icon="play_video"]:hover{
                    background-color: #308ff0;
                    border: 2px solid #308ff0;
                    color: #FFF;
                }
                [data-btn-icon="play_video"]:hover:before{
                    -webkit-transform: scale(0.8);
                       -moz-transform: scale(0.8);
                        -ms-transform: scale(0.8);
                         -o-transform: scale(0.8);
                            transform: scale(0.8);
                    -webkit-transition: all ease 0.5s;
                       -moz-transition: all ease 0.5s;
                        -ms-transition: all ease 0.5s;
                         -o-transition: all ease 0.5s;
                            transition: all ease 0.5s;
                }

                /* end of btn blue */
                
                /* btn bd grey */
                [class*="btn_bd_grey"]{
                    color: #4a4a4a;
                    background-color: #fff;
                    border: 2px solid #9b9b9b;
                }
                    [class*="btn_bd_grey"]:hover{
                        background-color: #9B9B9B;
                        color: #fff;
                    }

                .btn_bd_grey_small{
                    padding: 9.5px 23px;
                    font-family: 'Proxima Nova Soft W03 Regular' , 'ProximaNovaSoftW03-Regular';
                    font-size: 14px;
                    line-height: 17px;
                }

                /* end of btn bd grey */
                
                /* btn green */
                [class*="btn_green_"]{
                    color: #FFF;
                    background-color: #42c671;
                    border: 2px solid #42c671;
                }
                    [class*="btn_green_"]:hover{
                        color: #42c671;
                        background-color: transparent;       
                    }

                .btn_green_small{
                    padding: 9.5px 26px;
                    font-family: 'Proxima Nova Soft W03 Medium' , 'ProximaNovaSoftW03-Medium';
                    font-size: 14px;
                    line-height: 17px;
                }

                /* end of btn green */


        /*==========>>  3.10.     HOVERS TRANSITION   <<==========*/


                a,
                button{
                    -webkit-transition: all 0.7s ease;
                    -moz-transition: all 0.7s ease;
                    -o-transition: all 0.7s ease;
                    transition: all 0.7s ease;
                }
                a:hover,
                button{
                    -webkit-transition: all 0.1s ease;
                    -moz-transition: all 0.1s ease;
                    -o-transition: all 0.1s ease;
                    transition: all 0.1s ease;
                }


        /*==========>>  3.11.     TITLES   <<==========*/
            

            h1,h2,h3,h4,h5,h6{
                font-weight:normal;
                margin-bottom: 20px;
            }
            
            .title{
                font-size: 42px;
                line-height: 50px;
            }
            .title2{
                font-size: 72px;
                line-height: 1.2;
            }
            .title3{
                font-size: 30px;
                line-height: 36px;
            }
            .title4{
                font-size: 56px;
                line-height: 67px;
                letter-spacing: -1.8px;
            }
            .title5{
                font-size: 46px;
                line-height: 55px;
            }


            .fz16{
                font-size: 16px;
                line-height: 19px;
            }
            .fz20{
                font-size: 20px;
                line-height: 25px;
            }
            .fz26{
                font-size: 26px;
                line-height: 31px;
            }
            .fz28{
                font-size: 28px;
                line-height: 34px;
            }

            /* ===>  Custom styles for text  <=== */

                    .it{font-style:italic;} /* текст с наклоном */

                    .let{letter-spacing:-1px;} /* отступы между буквами */

                    .tt_up {text-transform:uppercase;} /*  каждое слово с большыми буквами */
                    .tt_cap {text-transform:capitalize;} /* каждое слово с заглавной буквы */
                    .tt_low {text-transform:lowercase;} /* каждое слово с маленькими буквами */
                    .tt_none {text-transform:none;} /* отмена стиля для текста */
                    .tt_parent {text-transform:inherit;} /* стиль для текста ставится по родителю */

                    .td_und{text-decoration: underline;} /* полоса под текстом */
                    .td_und:hover{text-decoration: none;} /* полоса пропадает при ховере */
                    
                    .td_line{text-decoration: line-through;} /* полоса зачеркивает текст */

                    .td_und_no{text-decoration: none;} /* полосы нету */
                    .td_und_no:hover{text-decoration: underline;} /* при ховере появляется полоса */

                    .td_no{text-decoration: none !important;} /* убирает полосу, выше по приоритету */
                
            /* ===>  !!! End of Custom styles for text !!!  <=== */
            
            /* ===>  !!! прячем текст начало  !!!  <=== */
            
            .text_hide {
                font: 0/0 a;
                color: transparent;
                text-shadow: none;
                background-color: transparent;
                border: 0;
            }

            /* ===>  !!! прячем текст конец !!!  <=== */


        /*==========>>  3.12.     BACKGROUNDS   <<==========*/

            /* ===>  Custom backgrounds  <=== */
            
                    .bg_none{ background:none !important;}
                    .bg_black{background-color: #000;}
                    .bg_white{background-color: #fff;}

            /* ===>  !!! End of Custom backgrounds !!!  <=== */


            .btn_gray{background-color: gray;}


        /*==========>>  3.13.     COLORS   <<==========*/

            /* ===>  Custom color  <=== */
            
                    .white{ color: #FFF;}
                    .black{ color: #000;}

            /* ===>  !!! End of Custom color !!!  <=== */


        /*==========>>  3.14.     GOOGLE FONTS   <<==========*/
        
            /* droid */
            [class*="droid_"]{
                font-family: 'Droid Serif', serif;
            }

                [class*="droid_reg_"]  {font-weight: 400;}

                .droid_reg_it          {font-style: italic;}

                [class*="droid_bd_"]   {font-weight: 900;}

                .droid_bd_it           {font-style: italic;}
            /* end of droid */

            /* gotham */
            .gotham_lt    {font-family: 'Gotham Rounded Light' , 'GothamRounded-Light';}

            .gotham_md    {font-family: 'Gotham Rounded Medium' , 'GothamRounded-Medium';}
            /* end of gotham */
            
            /* engine */
            .engine_reg   {font-family: 'Engine-Regular';}
            /* end of engine */
            
            /* proxima */
            .proxima_bd   {font-family: 'Proxima Nova Soft W03 Bold' , 'ProximaNovaSoftW03-Bold';}

            .proxima_med  {font-family: 'Proxima Nova Soft W03 Medium' , 'ProximaNovaSoftW03-Medium';}

            .proxima_reg  {font-family: 'Proxima Nova Soft W03 Regular' , 'ProximaNovaSoftW03-Regular';}

            .proxima_sb   {font-family: 'Proxima Nova Soft W03 Semibold' , 'ProximaNovaSoftW03-Semibold';}
            /* end of proxima */


        /*==========>>  3.15.     INSTALL FONTS   <<==========*/

            
            /* Gotham Rounded Light */
                @font-face {
                  font-family: 'Gotham Rounded Light';
                  src: url('../font/Gotham Rounded Light.eot');
                  src: url('../font/Gotham Rounded Light.woff2') format('woff2'),
                       url('../font/Gotham Rounded Light.eot?#iefix') format('embedded-opentype');
                  font-weight: normal;
                  font-style: normal;
                }

                @font-face {
                  font-family: 'GothamRounded-Light';
                  src: url('../font/GothamRounded-Light.woff') format('woff'),
                       url('../font/GothamRounded-Light.ttf') format('truetype'),
                       url('../font/GothamRounded-Light.svg#GothamRounded-Light') format('svg');
                  font-weight: normal;
                  font-style: normal;
                }
            /* End of Gotham Rounded Light */
            


            /* Gotham Rounded Medium */
                @font-face {
                    font-family: 'Gotham Rounded Medium';
                    src: url('../font/Gotham Rounded Medium.eot');
                    src: url('../font/Gotham Rounded Medium.woff2') format('woff2'),
                       url('../font/Gotham Rounded Medium.eot?#iefix') format('embedded-opentype');
                    font-weight: normal;
                    font-style: normal;
                }

                @font-face {
                    font-family: 'GothamRounded-Medium';
                    src: url('../font/GothamRounded-Medium.woff') format('woff'),
                       url('../font/GothamRounded-Medium.ttf') format('truetype'),
                       url('../font/GothamRounded-Medium.svg#GothamRounded-Medium') format('svg');
                    font-weight: normal;
                    font-style: normal;
                }
            /* End of Gotham Rounded Medium */
            


            /* Engine-Regular */
                @font-face {
                    font-family: 'Engine-Regular';
                        src: url('../font/Engine-Regular.eot');
                        src: url('../font/Engine-Regular.woff2') format('woff2'),
                        url('../font/Engine-Regular.woff') format('woff'),
                        url('../font/Engine-Regular.ttf') format('truetype'),
                        url('../font/Engine-Regular.svg#Engine-Regular') format('svg'),
                        url('../font/Engine-Regular.eot?#iefix') format('embedded-opentype');
                    font-weight: normal;
                    font-style: normal;
                }
            /* End of Engine-Regular */
            


            /* Proxima Nova Soft W03 Bold */
                @font-face {
                    font-family: 'Proxima Nova Soft W03 Bold';
                        src: url('../font/Proxima Nova Soft W03 Bold.eot');
                        src: url('../font/Proxima Nova Soft W03 Bold.woff2') format('woff2'),
                           url('../font/Proxima Nova Soft W03 Bold.eot?#iefix') format('embedded-opentype');
                    font-weight: normal;
                    font-style: normal;
                }

                @font-face {
                    font-family: 'ProximaNovaSoftW03-Bold';
                        src: url('../font/ProximaNovaSoftW03-Bold.woff') format('woff'),
                           url('../font/ProximaNovaSoftW03-Bold.ttf') format('truetype'),
                           url('../font/ProximaNovaSoftW03-Bold.svg#ProximaNovaSoftW03-Bold') format('svg');
                    font-weight: normal;
                    font-style: normal;
                }
            /* End of Proxima Nova Soft W03 Bold */
            


            /* Proxima Nova Soft W03 Medium */
                @font-face {
                  font-family: 'Proxima Nova Soft W03 Medium';
                  src: url('../font/Proxima Nova Soft W03 Medium.eot');
                  src: url('../font/Proxima Nova Soft W03 Medium.woff2') format('woff2'),
                       url('../font/Proxima Nova Soft W03 Medium.eot?#iefix') format('embedded-opentype');
                  font-weight: normal;
                  font-style: normal;
                }

                @font-face {
                  font-family: 'ProximaNovaSoftW03-Medium';
                  src: url('../font/ProximaNovaSoftW03-Medium.woff') format('woff'),
                       url('../font/ProximaNovaSoftW03-Medium.ttf') format('truetype'),
                       url('../font/ProximaNovaSoftW03-Medium.svg#ProximaNovaSoftW03-Medium') format('svg');
                  font-weight: normal;
                  font-style: normal;
                }
            /* End of Proxima Nova Soft W03 Medium */



            /* Proxima Nova Soft W03 Regular */
                @font-face {
                  font-family: 'Proxima Nova Soft W03 Regular';
                  src: url('../font/Proxima Nova Soft W03 Regular.eot');
                  src: url('../font/Proxima Nova Soft W03 Regular.woff2') format('woff2'),
                       url('../font/Proxima Nova Soft W03 Regular.eot?#iefix') format('embedded-opentype');
                  font-weight: normal;
                  font-style: normal;
                }

                @font-face {
                  font-family: 'ProximaNovaSoftW03-Regular';
                  src: url('../font/ProximaNovaSoftW03-Regular.woff') format('woff'),
                       url('../font/ProximaNovaSoftW03-Regular.ttf') format('truetype'),
                       url('../font/ProximaNovaSoftW03-Regular.svg#ProximaNovaSoftW03-Regular') format('svg');
                  font-weight: normal;
                  font-style: normal;
                }
            /* End of Proxima Nova Soft W03 Regular */
            


            /* Proxima Nova Soft W03 Semibold */
                @font-face {
                  font-family: 'Proxima Nova Soft W03 Semibold';
                  src: url('../font/Proxima Nova Soft W03 Semibold.eot');
                  src: url('../font/Proxima Nova Soft W03 Semibold.woff2') format('woff2'),
                       url('../font/Proxima Nova Soft W03 Semibold.eot?#iefix') format('embedded-opentype');
                  font-weight: normal;
                  font-style: normal;
                }

                @font-face {
                  font-family: 'ProximaNovaSoftW03-Semibold';
                  src: url('../font/ProximaNovaSoftW03-Semibold.woff') format('woff'),
                       url('../font/ProximaNovaSoftW03-Semibold.ttf') format('truetype'),
                       url('../font/ProximaNovaSoftW03-Semibold.svg#ProximaNovaSoftW03-Semibold') format('svg');
                  font-weight: normal;
                  font-style: normal;
                }
            /* End of Proxima Nova Soft W03 Semibold */


        /*==========>>  3.16.     VISIBILITY   <<==========*/
        

            .visible{
                visibility: visible;
                opacity: 1;
            }
            .invisible{
                visibility: hidden;
                opacity: 0;
            }
            .transparent{
                opacity: 0;
            }
            

        /*==========>>  3.17.     TEXTAFIELD (placeholder animation)   <<==========*/
        
            /*===  input start  ===*/
            
            input.invalid,
            textarea.invalid,
            .jq-selectbox.invalid .jq-selectbox__select{
                border: 2px solid red;  
                  
            }
            
            /* chrome  */
            input::-webkit-input-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: 'Proxima Nova Soft W03 Regular' , 'ProximaNovaSoftW03-Regular' , sans-serif;
                color: #26292D;
                font-size: 14px;
                font-weight: 600;
                letter-spacing: -0.3px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
            /* !!! */
            /* mozilla */
            input::-moz-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: 'Proxima Nova Soft W03 Regular' , 'ProximaNovaSoftW03-Regular' , sans-serif;
                color: #26292D;
                font-size: 14px;
                font-weight: 600;
                letter-spacing: -0.3px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
            input:-moz-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: 'Proxima Nova Soft W03 Regular' , 'ProximaNovaSoftW03-Regular' , sans-serif;
                color: #26292D;
                font-size: 14px;
                font-weight: 600;
                letter-spacing: -0.3px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
            /* !!! */
            /* microsoft */
            input:-ms-input-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: 'Proxima Nova Soft W03 Regular' , 'ProximaNovaSoftW03-Regular' , sans-serif;
                color: #26292D;
                font-size: 14px;
                font-weight: 600;
                letter-spacing: -0.3px;
                -ms-text-overflow: ellipsis;
                text-overflow: ellipsis;
            }
            input.masked_input::-webkit-input-placeholder{
                line-height: 40px;
                color: #d5d5d5;
            }
            input.masked_input::-moz-placeholder{
                line-height: 40px;
                color: #d5d5d5;
            }
            input.masked_input:-moz-placeholder{
                line-height: 40px;
                color: #d5d5d5;
            }
            input.masked_input:-ms-input-placeholder{
                line-height: 40px;
                color: #d5d5d5;
            }
            /* !!! */
            /* ======================== */
            /* focus chrome */
            input:focus::-webkit-input-placeholder{
                color:transparent;
            }
            /* !!! */
            /* focus mozilla */
            input:focus::-moz-placeholder{
                color:transparent;
            }
            input:focus:-moz-placeholder{
                color:transparent;
            }
            /* !!! */
            /* focus microsoft */
            input:focus:-ms-input-placeholder{
                color:transparent;
            }
            /* !!! */

            /*===  input end    ===*/
            
            /*===  textarea start  ===*/
            /* chrome */
            textarea::-webkit-input-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: 'Proxima Nova Soft W03 Regular' , 'ProximaNovaSoftW03-Regular' , sans-serif;
                color: #26292D;
                font-size: 14px;
                font-weight: 600;
                letter-spacing: -0.3px;
            }
            /* !!! */
            /* mozilla */
            textarea::-moz-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: 'Proxima Nova Soft W03 Regular' , 'ProximaNovaSoftW03-Regular' , sans-serif;
                color: #26292D;
                font-size: 14px;
                font-weight: 600;
                letter-spacing: -0.3px;
            }
            textarea:-moz-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: 'Proxima Nova Soft W03 Regular' , 'ProximaNovaSoftW03-Regular' , sans-serif;
                color: #26292D;
                font-size: 14px;
                font-weight: 600;
                letter-spacing: -0.3px;
            }
            /* !!! */
            /* microsoft */
            textarea:-ms-input-placeholder{
                line-height: 20px;   
                transition: all 0.5s ease;
                font-family: 'Proxima Nova Soft W03 Regular' , 'ProximaNovaSoftW03-Regular' , sans-serif;
                color: #26292D;
                font-size: 14px;
                font-weight: 600;
                letter-spacing: -0.3px;
            }
            /* !!! */
            /* ======================== */
            /* focus chrome */
            textarea:focus::-webkit-input-placeholder{
                transition: all 0.5s ease;
                transform: translateY(-50px);
            }
            /* !!! */
            /* focus mozilla */
            textarea:focus::-moz-placeholder{
                transition: all 0.5s ease;
                transform: translateY(-50px);
            }   
            textarea:focus:-moz-placeholder{
                transition: all 0.5s ease;
                transform: translateY(-50px);
            }
            /* !!! */
            /* focus microsoft */
            textarea:focus:-ms-input-placeholder{
                transition: all 0.5s ease;
                transform: translateY(-50px);
            }
            /* !!! */

            /*===  textarea end    ===*/
            

        /*==========>>  3.18.     BREADCRUMBS   <<==========*/
            
            .breadcrumbs_container{
                background-color: #ff6633;
            }
                .breadcrumbs{
                    display: block;
                    list-style: none;
                    margin: 24px 0 24px 0;
                }
                    .breadcrumbs_it{
                        position: relative;
                        float: left;
                        margin-right: 4px;
                        padding-right: 15px;
                    }
                    .breadcrumbs_it:before{
                        display: block;
                        position: absolute;
                        right: 0;
                        top: 0;
                        content: attr(data-bread-arr);
                        color: #fff;
                        font-size: 20px;
                        line-height: 20px;
                        /* background: url(../images/icon_breadcrumbs.png) 0 0 no-repeat; */
                        /* width: 6px;
                        height: 6px; */
                    }
                    .breadcrumbs .breadcrumbs_it:last-child:before{
                        display: none;
                    }
                        .breadcrumbs_it a{
                            text-decoration: none;
                            color: #fff;
                        }
                        .breadcrumbs .breadcrumbs_it:first-child a{padding-left: 0;}
                        .breadcrumbs_it a:hover span{
                            text-decoration: underline;
                        }
                            .breadcrumbs_current{
                                font-size: 15px;
                                line-height: 21px;
                                font-weight: 700;
                                color: #fff;
                            }



                            
/*  <!-- 4. HEADER 
============================================ --> */


    #header {
        background-color: white;
        min-height: 80px;
    }
        .header_container{
            max-width: 1440px;
            padding: 20px 12px 20px 20px; 
            position: relative;
        }
            .logo{
              float: left;
              padding-right: 37.5px;
              padding-top: 3px;
            }
                .logo > figcaption > a{
                    display:block;
                    text-decoration:none;
                    font-size: 0;
                }
                    .logo > figcaption > a > img{
                        max-width: 100%;
                        max-height: 100%;
                    }

            .navigation_menu{
                float: left;
                padding-top: 6.5px;
            }
                #menu{
                    
                }
                    .menu_item{
                        float: left;
                        padding: 0 10px;
                    }
                    .menu_item.current{
                        /* opacity: 0.8; */
                    }
                        .menu_link{
                            padding: 5px 10.5px;
                        }
                        .menu_item.current .menu_link{
                            
                        }

            .header_buttons{
                
            }
                .header_buttons button{
                    float: left;
                }
                .header_buttons button:not(:last-child){   
                    margin-right: 14px;
                }





/*  <!-- 5. CONTENT 
============================================ --> */


    #content {
        min-height: 602px;
    }

        /* Landing 2016 Slack Success */
            .success_container{
                padding-top: 54px;
                padding-bottom: 82px;
            }
                .success_container_box{
                    text-align: center;   
                }
                    .success_container_box .title{
                        margin-bottom: 13px;
                    }
                    [data-after="icon"]{
                        position: relative;
                        display: inline-block;
                    }
                        [data-after="icon"]:after{
                            content: "";
                            margin-top: -5px;
                            background: url(../images/icon/slack_icon.png) 0 0 no-repeat;
                            width: 37px;
                            height: 37px;
                            display: inline-block;
                            vertical-align: middle;
                            margin-left: 10px;
                        }

                        .success_container_box p{
                            
                        }
                        .success_container_box img{
                            
                        }
        /* End of Landing 2016 Slack Success */
        



        /* Landing 2016 Slack */
        .success_container.pb148{
            padding-bottom: 148px;
        }
            .buttons_on_center{
                position: relative;
                z-index: 9;
            }
            .buttons_on_center + img{
                margin-top: -34px;
            }

            .info_about_use_box{
                margin-bottom: 62px;
            }
                .info_about_use_box_left{
                    
                }
                .info_about_use_box_right{
                    padding-left: 36px;
                }
        /* End of Landing 2016 Slack */
        
        /* Pricing Team  */
        .table_wrap{
            max-width: 794px;
            margin: 0 auto;
            -webkit-border-radius: 8px;
                    border-radius: 8px;
            border: 1px solid #eee;
            overflow: hidden;
        }
            .table_wrap_item{
                margin: -1px;   
            }
            .table_container{
                padding-top: 56px;
            }
                .table_business{
                    /* width: 794px; */
                    max-width: 794px;
                    margin: 0 auto;
                    table-layout: fixed;
                    /* border: 1px solid #eee; */
                }
                    .table_business_tr{
    
                    }
                    .table_business_tr:first-child .table_business_td:last-child{
                        color: #308ff0;
                        font-size: 20px;
                        line-height: 21px;
                        font-family: 'Proxima Nova Soft W03 Bold' , 'ProximaNovaSoftW03-Bold';
                        text-transform: uppercase;
                        padding: 30px 0;
                    }
                        .table_business_td{
                            border: 1px solid #eee;
                            vertical-align: middle;
                            min-height: 75px;
                            padding: 17px 10px 17px 25px;
                        }
                            .table_business_title{
                                font-size: 16px;
                                line-height: 18px;
                                margin-bottom: 6px;
                                display: inline-block;
                                vertical-align: baseline;
                            }
                            .table_business_text{
                                color: #9b9b9b;
                                font-size: 16px;
                                line-height: 16px;
                                margin-bottom: 0;
                                vertical-align: baseline;
                            }
                            .table_icon_ok{
                                background: url(../images/icon/icon_ok_blue.png) 0 0 no-repeat;
                                width: 21px;
                                height: 14px;
                                display: inline-block;
                            }
                        .table_business_tr .table_business_td:first-child{
                            width: 75.56675062972292%; /* 600 */
                        }
                        .table_business_tr .table_business_td:last-child{
                            width: 24.30730478589421%; /* 193 */
                            text-align: center; 
                            padding-left: 0;
                            padding-right: 0;
                        }
                        .table_business_tr:last-child .table_business_td{
                            text-align: left;
                            width: 100%;
                            padding-left: 25px;
                        }

            .after_table_slider{
                border-left: 1px solid #eee;
                border-right: 1px solid #eee;
                /* width: 794px; */
                max-width: 794px;
                min-height: 83px;
                margin: 0 auto;
                padding: 26px 25px 26px;
            }
                .users_box{
                    font-size: 20px;
                    line-height: 21px;
                    vertical-align: baseline;
                    margin-right: 69px;
                }
                    .users_box span{
                        font-size: 16px;
                        line-height: 21px;
                        vertical-align: baseline;
                    }
                .after_table_slider_item{
                    position: relative;
                    margin-top: 10px;
                }
                    #slider-range{
                        margin-bottom: 10px;
                        width: 584px;
                        max-width: 100%;
                    }
                    .slider_txt{
                        
                    }
                        .slider_txt p{
                            color: #bababa;
                            font-size: 12px;
                            line-height: 14px;
                            vertical-align: baseline;
                            margin-bottom: 0;
                        }
                        .slider_txt p:last-child{
                            margin-right: -21px;
                        }
                            .slider_txt p label,
                            .slider_txt p input{
                                color: #bababa;
                                font-size: 12px;
                                line-height: 14px;
                                vertical-align: baseline;
                            }
                            .slider_txt p input{
                                border: none;
                                width: 50px;
                                height: auto;
                                padding: 0;
                            }

            .money_pack_box{
                overflow: hidden;
                margin: 0 auto;
                max-width: 794px;
                min-height: 262px;
                -webkit-border-radius: 0 0 8px 8px;
                        border-radius: 0 0 8px 8px;
                text-align: center;
                vertical-align: baseline;
                padding-top: 11px;
            }
                [data-bg="money_pack_box"]{
                    background: url(../images/after_table_img.png) 0 0 no-repeat;
                }
                .money_pack_box h2{
                    
                }
                .money_pack_box span{
                    color: #4a4a4a;
                    font-size: 16px;
                    line-height: 18px;
                    vertical-align: baseline;
                }
        /* End of Pricing Team */
        
        /* Pricing  */
        .table_business[data-version="table2"]{
            
        }
            .table_business[data-version="table2"] .table_business_tr{
                
            }
                .table_business[data-version="table2"] .table_business_td{
                    
                }
                .table_business[data-version="table2"] .table_business_tr:first-child .table_business_td:nth-child(2){
                        color: #000;
                        font-size: 20px;
                        line-height: 21px;
                        font-family: 'Proxima Nova Soft W03 Regular' , 'ProximaNovaSoftW03-Regular';
                        text-transform: uppercase;
                        padding: 30px 0;
                        text-align: center;
                }
                .table_business[data-version="table2"] .table_business_tr .table_business_td:first-child{
                    width: 65.4911838790932%;
                }
                .table_business[data-version="table2"] .table_business_tr .table_business_td:nth-child(2),
                .table_business[data-version="table2"] .table_business_tr .table_business_td:last-child{
                    width: 17.12846347607053%;
                    text-align: center;
                    padding-right: 0;
                }
                .table_business[data-version="table2"] .table_business_tr .table_business_td:nth-child(2){
                    padding-left: 0;
                }
                .table_business[data-version="table2"] .table_business_tr:last-child .table_business_td{
                    width: auto;
                    text-align: left;
                }
                .table_icon_ok.ico_black{
                    background: url(../images/icon/icon_ok_black.png) 0 0 no-repeat;
                    width: 21px;
                    height: 14px;
                    display: inline-block;
                }

            .tabs_custom_box{
                margin-top: -63px;
            }
                .tabs-nav{
                    width: 308px;
                    margin: 0 auto 27px;
                    -webkit-border-radius: 8px;
                            border-radius: 8px;
                    overflow: hidden;
                }
                    .tabs-nav li{
                        float: left;
                        width: 50%;
                    }
                        .tabs-nav li a{
                            border-radius: 8px 0 0 8px;
                            font-family: 'Proxima Nova Soft W03 Regular' , 'ProximaNovaSoftW03-Regular';
                            font-size: 16px;
                            line-height: 20px;
                            padding: 10px 5px;
                            display: block;
                            color: #4a4a4a;
                            border: 1px solid #eee;
                        }
                        .tabs-nav li:last-child a{
                            border-radius: 0 8px 8px 0;
                        }
                        .tabs-nav li a.active{
                            border: 1px solid transparent;
                            background-color: #308ff0;
                            color: #FFF;
                        }
                .tabs-container{
                    
                }

            .money_pack_box.ver2{
                overflow: visible;
            }

            .vyte_for_team{
                width: 794px;
                max-width: 100%;
                margin: 0 auto 61px;
                min-height: 82px;
                background-color: white;
                border: 1px solid #eee;
                border-radius: 8px;
                overflow: hidden;
                padding: 20px 19px 20px 29px;
            }
                .vyte_for_team_title{
                    color: #308ff0;
                    font-size: 16px;
                    line-height: 18px;
                    margin-right: 59px;
                }
                    .vyte_for_team_title span{
                        font-family: 'Proxima Nova Soft W03 Medium' , 'ProximaNovaSoftW03-Medium';
                        font-size: 20px;
                        line-height: 21px;
                    }
                .vyte_for_team_text{
                    font-size: 16px;
                    line-height: 18px;
                    color: #9d9d9d;
                    max-width: 385px;
                    margin-right: 10px;
                    margin-bottom: 0;
                }
                .vyte_for_team_buttons{
                    float: right;
                }
                    .vyte_for_team_buttons .btn_blue_big{
                        padding: 8.5px 21.26px;
                    }
        /* End of Pricing */
        
        /* Landing 2016 Group */
        .success_container.success_2{
            min-height: 389px;
            padding-top: 66px;
            padding-bottom: 10%;
        }
        .success_container.success_3{
            padding-top: 36px;
            min-height: 510px;
            padding-bottom: 22%;
        }
            .success_container.success_2 .title{
                margin-bottom: 35px;
            }
            .success_container.success_2 .buttons_on_center{
                
            }
            .success_container.success_2 .btn_blue_small{
                
            }

            [data-bg="bg_main"]{
                position: relative;
            }
            [data-bg="bg_main"]:before{
                content: "";
                background: url(../images/bg_main.jpg) 50% bottom no-repeat;
                max-width: 965px;
                width: 100%;
                height: 265px;
                opacity: 0.5;
                position: absolute;
                bottom: 0;
                left: 50%;
                -webkit-background-size: 100%;
                     -o-background-size: 100%;
                        background-size: 100%;
                -webkit-transform: translateX(-50%);
                   -moz-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                     -o-transform: translateX(-50%);
                        transform: translateX(-50%);
            }
            [data-bg="bg_main2"]{
                background: url(../images/table_img1.jpg) 50% bottom no-repeat;
            }

        .container_two_box{
            
        }
            .container_two_col{
                padding: 84px 10px 56px 10px;
            }
            .container_two_box .container_two_col:first-child{
                padding: 53px 10px 26px 10px;
            }
                .container_two_col_item{
                    
                }
                .container_two_col_item.p_rel{
                    position: relative;
                }
                .container_two_col_item.p_rel:before{
                    content: "";
                    z-index: 2;
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 32%;
                    background-image: linear-gradient(to bottom, transparent 0%, #ffffff 100%);
                    background: -webkit-linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,0.02) 2%, rgba(255,255,255,1) 100%);
                    background: -o-linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,0.02) 2%, rgba(255,255,255,1) 100%);
                    background: linear-gradient(rgba(255,255,255,0) 0%, rgba(255,255,255,0.02) 2%, rgba(255,255,255,1) 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                
                }   
                    
                    .two_col_list{
                        margin-left: -32px;
                    }
                        .two_col_list li{
                            color: #959595;
                            font-size: 20px;
                            line-height: 25px; 
                            letter-spacing: -0.67px;
                            margin: 0 0 20px 32px;
                            position: relative;
                        }
                        .two_col_list li:before{
                            content: "";
                            position: absolute;
                            top: 5px;
                            left: -32px;
                            width: 15px;
                            height: 15px;
                            background-color: #d8d8d8;
                            -webkit-border-radius: 50%;
                                    border-radius: 50%;
                        }
                        .two_col_list li:last-child{
                            margin-bottom: 0;
                        }

        .smart_companies{
            text-align: center;
            max-width: 857px;
            margin: 80px auto 100px;
        }
            .smart_companies .title3{
                margin-bottom: 58px;
            }
            .smart_companies_logo{
                
            }
                .smart_companies_logo a{
                    display: inline-block;
                    margin: 0 110px 0 0;
                    vertical-align: middle;
                    opacity: 0.5;
                }
                .smart_companies_logo a:last-child{
                    margin-right: 0;
                }
                .smart_companies_logo a:hover{
                    opacity: 1;
                }
        /* End of Landing 2016 Group */
        
        /* Landing 2016 */
        .features_love_container{
            padding-top: 38px;
        }
        .features_figure{
            display: table;
            margin-bottom: 55px;
            margin-left: 20px;
        }
        .features_figure:last-child{
            margin-bottom: 0;
        }
            .features_icon{
                display: table-cell;
                vertical-align: middle;
                width: 70px;
                text-align: center;
            }
                .features_icon img{
                    max-width: inherit;
                }
            .figure_text{
                display: table-cell;
                vertical-align: middle;
                font-size: 16px;
                line-height: 1;
            }

        .vyte_news_container{
            text-align: center;
            padding: 86px 0 72px 0;
            background-color: #eef3f9;
        }
            .vyte_news_icon{
                
            }
            .vyte_news_text{
                color: #959595;
                font-size: 20px;
                line-height: 25px;
                letter-spacing: -0.67px;
                max-width: 500px;
                margin: 0 auto 22px;
            }
            .news_comment_box{
                max-width: 240px;
                margin: auto;
            }
                .news_people_img{
                    display: table-cell;
                    vertical-align: middle;
                    width: 60px;
                    height: 60px;
                    -webkit-border-radius: 50%;
                            border-radius: 50%;
                    overflow: hidden;
                }
                    .news_people_img img{
                        
                    }
                .news_people_name{
                    padding-left: 20px;
                    display: table-cell;
                    vertical-align: middle;
                    font-size: 14px;
                    line-height: 20px;
                    text-align: left;
                }
                    .news_name_item{
                        color: #4a4a4a;
                        margin-bottom: 0;
                    }
                    .news_name_hash{
                        color: #959595;
                        margin-bottom: 0;
                    }
        /* End of Landing 2016 */
        
        /* Landing page Ios */
        .ios_container{
            padding: 122px 0 0 0;
            position: relative;
        }
            .ios_hgroup{
                
            }
                .ios_hgroup h4{
                    color: #959595;
                    font-size: 28px;
                    line-height: 34px;
                    letter-spacing: -0.93px;
                }
                .ios_hgroup h2{
                    
                }
            .btn_download{
                display: inline-block;
                background: url(../images/button_download.png) 0 0 no-repeat;
                width: 264px;
                height: 95px;
                margin-left: -20px;
            }
                .btn_download:hover{
                    opacity: 0.6;
                }

            .ios_img_container{
                position: relative;
            }
                .ios_img_container img{
                    
                }
            .ios_container .separator{
                position: absolute;
                bottom: 80px;
                width: 100%;
                left: 0;
                right: 0;
                z-index: -1;
            }

            .list_ios_icon{
                
            }
                .list_ios_icon li{
                    margin-right: 29px;
                    display: inline-block;
                }
                .list_ios_icon li:last-child{
                    margin-right: 0;
                }
                    .list_ios_icon li img{
                        
                    }

            .ios_box2{
                padding-top: 150px;
            }

        .blue_container{
            min-height: 845px;
            background-color: #308ff0;
            padding: 170px 0 134px 0;
        }
            .blue_container .ios_box2 {
                padding-top: 33px;
            }

            .blue_container .two_col_list li{
                color: #FFF;
            }
            .blue_container .title5{
                letter-spacing: -0.5px;
            }

        .calendar_container{
            padding: 65px 0 54px 0; 
        }
            .calendar_container p{
                color: #959595;
                font-size: 28px;
                letter-spacing: -0.93px;
            }
            .mb111{margin-bottom: 111px;}
        /* End of Landing page Ios */
        
        /* Landing 2016 1 to 1 */
        .get_page{
            position: relative;
            width: 604px;
            max-width: 100%;
            margin: auto;
        }
            .masked_input{
                color: #4a4a4a;
                line-height: 38px;
                width: calc(100% - 169px); 
                height: 40px;
                border: none;
                -webkit-border-radius: 8px;
                        border-radius: 8px;
                background-color: #FFF;
                padding: 0 15px 0 93px;
                font-weight: 600;
                text-align: left;
                float: left;
            }
                .get_page:before{
                    content: attr(data-mail);
                    position: absolute;
                    left: 15px;
                    top: 0;
                    color: #4a4a4a;
                    font-size: 14px;
                    font-weight: 600;
                    letter-spacing: -0.3px;
                    line-height: 40px;
                }
            .get_page [class*="btn_blue"]{
                padding: 8.5px 14.5px;
                float: right;
            }
        /* End of Landing 2016 1 to 1 */


/*  <!-- 6. BANNER_BOX  
============================================ --> */

    .banner_box{
            min-height: 77px;
            background-color: #353b41;
            padding: 19px 0;
            font-size: 18px;
            line-height: 22px;
            color: #FFF;
        }
            .banner_left_box{
                
            }
                .banner_left_box a{
                    color: #FFF;
                }

            .banner_right_box{
                text-align: right;
            }


/*  <!-- 7. FOOTER 
============================================ --> */


    #footer {
        padding:39px 0px 30px 0px;
        min-height: 210px;
    }
        .footer_container{
            
        }
            .footer_logo{
                
            }
                .footer_logo a{
                    
                }
                    .footer_logo img{
                        
                    }

            .footer_list{
                margin-top: 16px;       
            }
                .footer_list_item{
                    margin-top: 6px;
                    margin-bottom: 13px;
                }
                    .footer_list_item a{
                        
                    }


            .follow_link_box{
                text-align: right;
                padding-top: 9px;
            }
                .footer_link_tweet{
                    width: 140px;
                    height: 37px;
                    background: url(../images/follow_tweet.png) 0 0 no-repeat;
                    margin-right: 28px;
                }

